

<canvas id="chart-location" width="80px" height="30px"></canvas>
<br/>
<div id="table-location">

</div>

<script id="tabular-template" type="text/html">
<h2>Tabular Data</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Month</td>
      \{{#each categories}} <td>\{{label}}</td> \{{/each }}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shortlisted</td>
      \{{#each empShort}} <td>\{{value}}</td> \{{/each }}
    </tr>
    <tr>
      <td>Hired</td>
      \{{#each empSelect}} <td>\{{value}}</td> \{{/each }}
    </tr>
  </tbody>
</table>



</script>