<img class="rounded float-right" src="logo-t.png" height="90px" width="220px">

<canvas id="chart-location" width="80px" height="30px"></canvas>
<br/>
<div id="table-location">

</div>

<script id="tabular-template" type="text/html">
<h3>Tabular Data</h3>
<table class="table table-sm">
  <thead class="table-primary">
    <tr>
      <td>Month</td>
      \{{#each categories}} <td>\{{label}}</td> \{{/each }}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shortlisted</td>
      \{{#each empShort}} <td>\{{value}}</td> \{{/each }}
    </tr>
    <tr>
      <td>Hired</td>
      \{{#each empSelect}} <td>\{{value}}</td> \{{/each }}
    </tr>
  </tbody>
</table>



</script>