img {
	float: left;
	padding-left: 8px;
	height: 100px;
	width: 95px;
}

h2 {
	text-align: center;
	font-family: cursive;
}

.container {
	width: 100%;
}

.one {
	padding: 2%;
	border: 0px;
	width: 45%;
	float: left;
	/*border: thin solid black;*/
}
.two {
	padding: 2%;
	border: 0px;
	width: 45%;
	float: right;
	/*border: thin solid black;*/
}

@media only screen and (max-width: 500px) {
    .one .two {
        width: 100%;
        display: inline-block;
        background-color: black;
    }
}